.container{
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
    max-width: 500px;
}

.display_info{
    /* display: flex; */
    /* flex-direction: column; */
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

.displapyInfoChildBlock{
    margin: 10px;
}

.displapyInfoChildLabel{
    display: inline-block;
    /* text-align: right; */
    width: 100px;
}

.btn{
    width: 90%;
    height:30px;
    line-height:60px;
}
.btn a{
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    background:#0000FF;
    text-align:center;
    border:1px solid #0000FF;
    color:#FFFFFF;
    font-size:16px;
    font-weight:bold;
    border-radius:35px;
    -webkit-border-radius:35px;
    -moz-border-radius:35px;
    transition: all 0.5s ease;
}
.btn a:hover{
    background:#FFFFFF;
    color:#0000FF;
    box-shadow:none;
}
