body {
     margin: 0 auto;
     min-height: 100vh;
     display: flex;
     max-width: 500px;
     flex-direction: column;
     font-family: 'Noto Sans JP', sans-serif;
    }
header {
    /* outline: 1px solid gray; */
    /* background-color: lightcyan; */
    height: 60px;
}
div{
    display: flex;
    flex: 1;
}
main {
    /* outline: 1px solid gray; */
    flex: 1;
}
nav {
    /* outline: 1px solid gray; */
    width: 5%;
}
aside {
    /* outline: 1px solid gray; */
    width: 5%;
}
footer {
    /* outline: 1px solid gray; */
    /* background-color: lightcyan; */
    height: 100px;
}
.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}